*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login_container{
    padding: 15px;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);

}

h1{
    font-weight: bolder;
    font-size: 40px;
    margin: 15px;
    color: rgb(26, 26, 136);
}

input{
    margin-bottom: 18px;
    padding: 8px 10px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid gray;
}
input:focus{
    outline: none;

}
#forgetPass{
    margin: 10px 0;
    margin-top: -5px;
}
#forgetPass a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    color:rgba(0,0,0,0.6);
    
}
#forgetPass a:hover{
    color: black;
}
button{
    width: 100%;
    padding: 8px ;
    border-radius:8px ;
    border: none;
    font-weight: bolder;
    background-color: rgb(58, 58, 134);
    color: white;
    margin-bottom: 14px;
}
#create_btn{
    padding: 8px 10px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;
}
button:hover{
    background-color: rgb(7, 7, 94);
    cursor: pointer;
}
p{
    margin-bottom: 8px;
}
.validError{
    color: red;
    margin-top: -10px;
    margin-bottom: 8px;
    display: none;
    
}
.or_container{
    font-size: 17px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: bolder;
    color:rgba(0,0,0,0.8);
}
.or_container::before,
.or_container::after{
    content: "";
    background-color:rgba(0,0,0,0.4);
    flex: 1;
    margin: 0 6px;
    height: 2px;
    border-radius: 5px;

}